doctype html 
html
    head 
        title This is title 
        style 
            include ../static/style.css
    body 

        nav#navbar 
            ul 
                li #[a(href="/") Home] 
                li #[a(href="/") About]
                li #[a(href="/") Serivces]
                li #[a(href="/") Blog]
                li #[a(href="/") Contact]    
            
        section#introSection
            //- | section  for  picture
            //- | Hello for picture
            div section  for  picture
            div.small Hello for picture

        section#missionSection 
            h2 Our Mission 
            div.card
                h3 Dance Perfection
            div.card
                h3 Dance the way you like
            div.card
                h3 Expert Teaching

        section#sponsorsSection
            | section  for  sponsors

        footer#footer
            | our  footer  here


        script 
            include ../static/index.js