@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    background-color: aqua;
    padding: 15px 12px;
    font-size: x-large;
    font-family: 'Playball', cursive;
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#navbar li
{
    list-style-type: none;
}
#navbar li a{
    text-decoration: none;
    padding: 14px 18px;
}
#introSection{
    /* background: center / contain no-repeat url('../static/bg.jpg'), #eee 35% url('../static/image.png'); */
    background: center / cover no-repeat url('../static/bg.jpg');
    height: 300px;
    color: white;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik Puddles', cursive;
    font-size: xx-large;
    font-weight: 900;
    text-transform: capitalize;
}
#introSection div.small{
    font-size: large;
}
#missionSection{
    font-family: 'Yeon Sung';
    text-align: center;
    padding-top: 12px;
    height: 300px;
    margin: auto;
    display: block;
}
.card{
    border: 2px solid black;
    border-radius: 12px;
    width: 25%;
    display: inline-block;
    margin: 35px 25px;
    height: 150px;
}
.card h3{
    text-align: center;
    margin-top: 12px;
}
#sponsorsSection{
    height: 300px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Almarai', sans-serif;
    font-size: xx-large;
    font-weight: 500;
    text-transform: capitalize;
}
#footer{
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Amaranth', sans-serif;
    font-size: xx-large;
    font-weight: 500;
    text-transform: capitalize;
}